<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.rosi.crom.toformal.contribution"
            nameFilter="*.crom"
            objectClass="org.eclipse.core.resources.IFile">
         <!---<menu
               label="Generate"
               path="additions"
               id="org.rosi.crom.toformal.menu">
            <separator
                  name="generate">
            </separator>
         </menu>//-->
         <action
               class="org.rosi.crom.toformal.popup.actions.GenerateFormalCromAction"
               enablesFor="+"
               id="org.rosi.crom.toformal.GenerateFormalCromAction"
               label="Formal CROM"
               menubarPath="org.rosi.crom.metamodel.menu/group1"
               tooltip="Generate the corresponding formal CROM">
         </action>
      </objectContribution>
      <objectContribution
            id="org.rosi.crom.toformal.contribution1"
            nameFilter="*.crom"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.rosi.crom.toformal.popup.actions.GenerateScrollCodeAction"
               enablesFor="+"
               id="org.rosi.crom.toformal.GenerateScrollCodeAction"
               label="SCROLL Code"
               menubarPath="org.rosi.crom.metamodel.menu/group1"
               tooltip="Generate the corresponding SCROLL CROM">
         </action>
      </objectContribution>
      <objectContribution
            id="org.rosi.crom.toformal.contribution2"
            nameFilter="*.crom"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.rosi.crom.toformal.popup.actions.GenerateOntologyAction"
               enablesFor="+"
               id="org.rosi.crom.toformal.GenerateOntologyAction"
               label="OWL Ontology"
               menubarPath="org.rosi.crom.metamodel.menu/group1"
               tooltip="Generate the corresponding OWL Ontology">
         </action>
      </objectContribution>
            <objectContribution
            id="org.rosi.crom.toformal.contribution3"
            nameFilter="*.crom"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.rosi.crom.toformal.popup.actions.GenerateRSQLAction"
               enablesFor="+"
               id="org.rosi.crom.toformal.GenerateRSQLAction"
               label="RSQL Data Definition"
               menubarPath="org.rosi.crom.metamodel.menu/group1"
               tooltip="Generate the corresponding RSQL Data Definition">
         </action>
      </objectContribution>
   </extension>

</plugin>
