<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated crom_l1_composed -->
      <package
            uri="platform:/resource/org.rosi.crom.metamodel/"
            class="crom_l1_composed.Crom_l1_composedPackage"
            genModel="src-gen/crom_l1_composed.genmodel"/>
   </extension>
	<extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.rosi.crom.metamodel.contribution"
            nameFilter="*.crom"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="Generate"
               path="additions"
               id="org.rosi.crom.metamodel.menu">
         </menu>
      </objectContribution> 
   </extension>         
</plugin>
